/* character picker */
.float-left {
  float: left;
}

#selector_row {
  text-align: left;
}

.selector_button {
  padding: 0 0.3em 0 0.3em;
  border: 1px solid black;
  margin-left: 2px;
  background-color: Beige;
}

.selected-tab {
  background-color: lightblue;
}

.key-block {
  display: none;
}

.show {
  display: block;
}

.char_box {
  padding-top: 1px;
}

.big_text {
  font-size: 180%;
  width: 1em;
  background-color: #FFF8DC;
  margin-left: 0.2em;
}
.picker {
  background-color: lightblue;
  padding: 0 0.1em 0 0.1em;
  width: 1.3em;
}
