body {
  margin:0;
}

.image-div {
    background-color: #CDC0B0;
    text-align: center;
    overflow:auto;
}

#imagedisplay {
    height:100%;
    overflow:auto;
}

#proofdiv {
    height:100%;
}

.text-div {
    background-color: #CDC0B0;
    text-align: center;
    overflow:auto;
}

textarea {
    width: 100%;
    height:100%;
    box-sizing: border-box;
    resize: none;
    padding-left: 1em;
    border: 0;
}

.control-div {
    background-color: Bisque;
    padding-left:0.5em;
}

.image-button {
    padding:0;
}

.inline {
    display:inline;
}

.proof-menu-content {
    position: absolute;
    bottom: 1em;
    right:0;
    background-color: BlanchedAlmond;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 0.3em;
    z-index: 1;
}

.proof-menu-content > span {
    float:right;
}

button {
    white-space: nowrap;
}

button:disabled {
    cursor: not-allowed;
}

.setting-grid-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 0.5em;
  grid-row-gap: 2px;
}

.box_2col {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* this must be after grid-wrapper so it overrides */
.nodisp {
    display: none;
}

#wordcheck-pre {
    background-color: #FFF8DC;
    margin: 0;
    padding-left: 1em;
    height:100%;
    overflow:auto;
}

.transparent-button {
    padding:0;
    background-color: Transparent;
}

span.aw {
    background-color: white;
    color: black;
}

span.hl {
    background-color: yellow;
    color: black;
}

.WC-only {
    display: none;
}
